
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Smooch&display=swap');
* {
    background-color: #f5f5f5;
    font-family: poppins;
    padding: 0;
    border: 0;
}
button { 
   width: 150px;
   height: 50px;
   border: 0px;
   cursor: pointer;
   margin: 0;
   padding: 0;
}
button:hover {
    color: #3363ff;
    background-color: #e6ecff;
}
img {
    width: 360px;
    height: 200px;
}
/* Background - #f5f5f5;
cardshadow - box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
button color: #3363ff;
button background-color: #e6ecff; */
#main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 35px;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
    
    /* background-color: #f5f5f5; */
}
.first {
    width: 360px;
    height: 400px;
    text-align: justify;
    margin: auto;
    /* padding: 10px; */
    /* border: 2px;
    border-radius: 2px; */
}

.second {
    width: 360px;
    height: 400px;
    text-align: justify;
    margin: auto;
    /* padding: 10px;
    border: 2px;
    border-radius: 2px; */
}
.third {
    width: 360px;
    height: 400px;
    text-align: justify;
    /* padding: 10px; */
    margin: auto;
    /* border: 2px;
    border-radius: 2px; */
}
@media  and (max-width 1079px) {
    #main {
        width: 320px;
    }
}
@media  and (max-width 1024px) {
    #main {
        width: 300px;
    }
}

@media  and (max-width 900px) {
    
}

@media  and (max-width 700px) {
    
}

@media  and (max-width 500px) {
    
}

@media  and (max-width 430px) {
    #main {
        width: 150px;
    }
    img{
        width: 150px;
    }
}

@media  and (max-width 320px) {
    
}